* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_left, .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_browse {
  border: 1px solid #e6e6e6;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.header_ul {
  background-color: #f9f9f9;
  width: 87px;
  height: 36px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .form, .header_form {
  border-radius: 5px;
}

.header .form, .header_form:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 37px;
  outline: none;
}

.header_cart {
  margin-right: 25px;
}

.header_cart:hover .drop_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "\25B6";
  padding-left: 0.5em;
  font-size: 12px;
}

.details[open] > summary::after {
  content: "\25BC";
}

.option_browse {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  width: 70px;
  height: 25px;
  margin: auto;
  outline: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.logo_img {
  margin-right: 13px;
}

.other {
  font-weight: 900;
  color: #f16d7f;
  font-size: 27px;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.search {
  width: 279px;
  height: 38px;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  outline: none;
}

.search_button {
  width: 38px;
  height: 38px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

.button {
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
  padding-left: 19px;
  padding-right: 19px;
}

.none_outline {
  outline: none;
}

.nav {
  background-color: #ffffff;
  padding-bottom: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.menu_link {
  padding: 20px 20px 10px 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
}

.menu_link:hover {
  color: #c6c6c6;
}

.menu_list {
  position: relative;
}

.menu_list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 55px;
  display: none;
}

.drop_details {
  padding: 19px 13px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 69px;
  z-index: 1;
  width: 262px;
}

.drop::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: -7px;
  left: 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop_last {
  right: 0;
}

.drop_last::after {
  left: auto;
  right: 53px;
}

.drop_col {
  width: 234px;
}

.drop_col:not(:last-child) {
  margin-right: 46px;
}

.drop_h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.drop_ul {
  list-style-type: none;
}

.drop_link {
  font-size: 14px;
  color: #646464;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 28px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.drop_link:hover {
  color: #f16d7f;
}

.drop_product {
  padding: 20px 13px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 55px;
  display: none;
  width: 262px;
}

.drop_product_text_h1 {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #222;
  padding-bottom: 10px;
}

.drop_product_text_img {
  padding-bottom: 10px;
}

.drop_product_text_pink {
  font-size: 12px;
  color: #f16d7f;
  text-transform: uppercase;
  font-weight: bold;
}

.drop_product_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 230px;
  padding-bottom: 13px;
  border-bottom: 0.75px solid #ededed;
}

.dropproduct_2 {
  padding-top: 17px;
}

.drop_price {
  width: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px 0px 32px 0px;
}

.drop_button {
  width: 225px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.drop_button_pink {
  color: #f16d7f;
  border-color: #f16d7f;
  margin-bottom: 11px;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url(img/promo.jpg);
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo_content {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.promo_heading {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 33px;
}

.promo_heading_big {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 12px;
}

.category {
  height: 823px;
  margin-top: 98px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.men {
  width: 560px;
  height: 542px;
  background-image: url(img/men.png);
  background-repeat: no-repeat;
}

.men_text {
  width: 175px;
}

.purse {
  width: 560px;
  height: 261px;
  background-image: url(img/purse.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}

.purse_text {
  width: 225px;
}

.women {
  width: 560px;
  height: 261px;
  background-image: url(img/woman.png);
  background-repeat: no-repeat;
}

.women_text {
  width: 162px;
}

.child {
  width: 560px;
  height: 542px;
  background-image: url(img/child.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}

.child_text {
  width: 180px;
}

.banner {
  width: 560px;
  padding-top: 26px;
}

.text_color {
  background-color: #ffffff;
  padding: 13px 0px 12px 19px;
}

.min_text {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.max_text {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.featured {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 60px;
}

.featured_text {
  text-align: center;
}

.featured_h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
}

.featured_p {
  font-size: 14px;
  color: #9f9f9f;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.products {
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.box {
  width: 261px;
  height: 342px;
  position: relative;
}

.box_middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 280px;
  background: rgba(58, 56, 56, 0.83);
}

.box_middle_text {
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  margin: 94px 70px 144px 70px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_text {
  padding-left: 13px;
  padding-top: 10px;
}

.box_text_mini {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.box_text_max {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f16d7f;
}

.box:hover .box_img {
  opacity: 0.3;
}

.box:hover .box_middle {
  opacity: 1;
}

.box:hover .rating {
  visibility: visible;
}

.box:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.rating {
  padding-left: 116px;
  visibility: hidden;
}

.cart_img {
  float: left;
  padding-right: 8px;
}

.cart_text {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

.products_button {
  margin-top: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.size {
  padding-top: 17px;
  padding-bottom: 17px;
}

.size img {
  visibility: hidden;
}

.size:hover img {
  visibility: visible;
}

.promo_2 {
  margin-top: 113px;
  margin-bottom: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_2_img {
  width: 767px;
  height: 529px;
  background-image: url(img/layer-39.png), url(img/promo-2.png);
}

.promo_2_text {
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 25.95px 30.69px 36px;
}

.sale {
  padding-top: 136px;
  padding-left: 40px;
}

.sale_text {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.sale_color {
  color: #f16d7f;
}

.sale_women {
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.promo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_text_img {
  padding-right: 40px;
}

.promo_text_h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  margin-bottom: 17px;
}

.promo_text_p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.coments_subscribe {
  height: 438px;
  background-image: url(img/filter.png), url(img/mountains-2.png);
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-size: cover;
  background-position: center -80px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.coments_subscribe_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 438px;
}

.coments {
  width: 570px;
  margin-top: 101px;
  height: 219px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coments_face {
  padding-right: 30px;
}

.coments_text {
  width: 390px;
  padding-top: 9px;
}

.quote {
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0.03em;
  line-height: 26px;
  color: #222224;
  font-weight: bold;
}

.name {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.name_p {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.circle {
  width: 38px;
  height: 4px;
  background-color: #c7c7c7;
}

.circle_active {
  background-color: #f16d7f;
  margin-left: 10px;
  margin-right: 10px;
}

.circle:hover {
  background-color: #f16d7f;
}

.circle:focus {
  background-color: #f16d7f;
}

.subscribe {
  width: 570px;
  border-left: 3px solid rgba(219, 219, 219, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_content {
  text-align: center;
}

.subscribe_h1 {
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #222224;
  line-height: 40px;
  font-weight: bold;
}

.subscribe_h2 {
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
}

.subscribe_input {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 23px;
}

.subscribe_input:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.subscribe_button {
  background-color: #f16d7f;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 10px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.email {
  width: 279px;
  height: 38px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 54px;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  background-color: #e1e1e1;
  outline: none;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.info {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand {
  width: 430px;
  height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brand_p {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: #898989;
  font-weight: 300;
}

.company {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company_h3 {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #f16d7f;
  line-height: 40px;
}

.company_link {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #898989;
  font-weight: bold;
}

.company_link:hover {
  color: #f16d7f;
}

footer {
  background-color: #e6e6e6;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_link {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.footer_link:hover {
  background-color: #f16d7f;
}

.copyright {
  font-size: 16px;
  color: #7a7a7a;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 42px;
  font-weight: bold;
}

.social {
  margin: auto;
}

.menu_link_product {
  padding: 20px 20px 10px 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
}

.menu_link_product:hover {
  -webkit-box-shadow: 0px 3px 0px 0px #ef5b70;
          box-shadow: 0px 3px 0px 0px #ef5b70;
}

.new {
  height: 148px;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_h1 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
}

.new_products {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
}

.new_products_active {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 24px;
  text-transform: uppercase;
}

.new_products::after {
  content: '/';
}

.products_content {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  margin-right: 50px;
}

.details_product {
  margin-bottom: 18px;
}

.summary_product {
  font-size: 14px;
  font-weight: bold;
  color: #ef5b70;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-top: 8px;
  outline: none;
  height: 37px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary_product::after {
  content: "\25ba";
  padding-left: 113px;
  font-size: 12px;
}

.details_product[open] .summary_product::after {
  content: "\25bc";
}

.link_products {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 22px;
  margin-left: 16.94px;
}

.summary_link {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  font-weight: 600;
}

.right {
  width: 846px;
}

.right_header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.trending {
  margin-right: 114px;
  width: 176px;
}

.trending_h1 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.trending_link {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.link_now_border {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.link_padding_left {
  padding-left: 10px;
}

.link_padding_right {
  padding-right: 10px;
}

.size_product {
  width: 230px;
  margin-right: 57px;
}

.size_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size_checkbox input {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.size_checkbox_padding {
  padding: 0px 23px 0px 9px;
}

.size_checkbox_left {
  padding-left: 9px;
}

.price_content {
  width: 263px;
}

.restangle {
  height: 50px;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

.details_nav {
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
  width: 66px;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  margin-left: 9px;
  padding-right: 1px;
}

.details_nav_2 {
  width: 55px;
  margin-left: 10px;
}

.details_nav_p {
  color: #6f6e6e;
  line-height: 28px;
}

.name_product {
  background-color: #ffffff;
  height: 30px;
  width: 86px;
}

.name_summary {
  font-size: 14px;
  font-weight: 300;
  color: #6f6e6e;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  outline: none;
}

.name_summary::after {
  content: "\25bc";
  padding-left: 21px;
  font-size: 10px;
}

.number_product {
  background-color: #ffffff;
  height: 30px;
  width: 63px;
}

.number_summary {
  font-size: 14px;
  font-weight: 300;
  color: #6f6e6e;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  outline: none;
}

.number_summary::after {
  content: "\25bc";
  padding-left: 18px;
  font-size: 10px;
}

.product_2 {
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 50px;
}

.pagination_ul {
  display: inline-block;
}

.pagination_ul li {
  display: inline;
}

.pagination_ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #c4c4c4;
  padding: 0px 6px;
}

.pagination_ul li a .active {
  color: #ef5b70;
}

.button_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
}

.nav_pagination {
  border: 0.5px solid #ebebeb;
  height: 44px;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_view {
  font-weight: bold;
  font-size: 16px;
  color: #ef5b70;
  border: 1px solid #ef5b70;
  padding: 10px 40px;
  border-radius: 3px;
}

.promo_3 {
  background-color: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car_promo_text_2 {
  width: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car_2 {
  margin-bottom: 29px;
  height: 40px;
}

.car_promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  margin-top: 50px;
}

.shop_list_left {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.shop_list_right {
  font-size: 13px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 645px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_list {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.cart_block_1 {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.center_shop {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}

.product_shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop_img {
  width: 100px;
  height: 115px;
  margin-right: 20px;
}

.cart_text_p {
  padding-top: 28px;
}

.cart_text_p_black {
  font-size: 13px;
  font-weight: bold;
  color: #575757;
  letter-spacing: 0.03em;
  padding-bottom: 5px;
}

.cart_text_p_black_max {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 13px;
  font-weight: bold;
  color: #222224;
  margin-right: 10px;
}

.cart_text_p_gray {
  font-weight: 300;
  color: #6f6e6e;
}

.categories_shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 610px;
  margin-right: 17px;
}

.search_shop {
  width: 60px;
  height: 30px;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #222224;
  outline: none;
  padding-left: 15px;
  margin-left: 10px;
}

.cart_text_price {
  font-size: 13px;
  font-weight: bold;
  color: #656565;
  letter-spacing: 0.03em;
}

.cart_text_x {
  color: #ffffff;
  background-color: #c0c0c0;
  border-radius: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: x-small;
  margin-left: 9px;
}

.button-cart-shop {
  margin-top: 44px;
}

.button-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submit-button {
  width: 235px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.submit-button:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.information {
  height: 268px;
  margin-top: 63px;
  margin-bottom: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information_adress {
  width: 355px;
  height: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information_adress_h1 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.information_details {
  width: 355px;
  height: 45px;
  border: 1px solid #e6e6e6;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information_header_ul {
  font-size: 13px;
  font-weight: 300;
  margin: auto;
  outline: none;
}

.information_option_browse {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  outline: none;
}

.information_option_browse::after {
  content: "\25bc";
  font-size: 12px;
  padding-left: 253px;
}

.information_input {
  width: 355px;
  height: 45px;
  border: 1px solid #e6e6e6;
  outline: none;
  font-weight: 300;
}

.information_input::-webkit-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 13px;
}

.information_input:-ms-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 13px;
}

.information_input::-ms-input-placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 13px;
}

.information_input::placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 13px;
}

.information_button {
  width: 118px;
  border: 1px solid #eaeaea;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  outline: none;
  background-color: #ffffff;
}

.information_button:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.information_coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 355px;
  height: 184px;
}

.information_p {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
}

.information_price {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.information_price_content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 275px;
}

.sub_total {
  width: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
}

.sub_total_text {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 300;
}

.grand_total {
  width: 175px;
  margin-bottom: 22px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grand_total_text {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
}

.grand_total_text_pink {
  color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
}

.checkout {
  padding-top: 17px;
  border-top: 1px solid #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout_button {
  padding: 16px 32px;
  width: 275px;
  height: 50px;
  background-color: #f16d7f;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.details_ul {
  outline: none;
}

.tovar {
  background-color: #f7f7f7;
  position: relative;
}

.tovar_img {
  background-image: url(img/tovar.png);
  background-repeat: no-repeat;
  height: 777px;
  background-position: center;
  position: relative;
}

.tovar_link {
  height: 47px;
  width: 47px;
  background-color: #d7d7d7;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 365px;
}

.tovar_link_2 {
  height: 47px;
  width: 47px;
  background-color: #d7d7d7;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 365px;
  right: 0px;
}

.tovar_text {
  width: 1140px;
  height: 730px;
  background-color: #ffffff;
  position: absolute;
  top: 691px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.tovar_women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tovar_p {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
}

.center2 {
  padding-left: 257px;
  padding-right: 257px;
}

.women_collection {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 24px;
  text-transform: uppercase;
  padding: 73px 0px 14px 0px;
  margin-bottom: 17px;
  text-align: center;
  border-bottom: 1px solid;
}

.women_tovar_h1 {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 67px;
}

.women_tovar_p {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  line-height: 24px;
}

.material_tovar {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  line-height: 24px;
  margin-right: 44px;
}

.material_tovar_2 {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  line-height: 24px;
}

.designer_tovar {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 24px;
}

.price_tovar {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  text-align: center;
  padding-bottom: 43px;
  padding-top: 37px;
  border-bottom: 1px solid #eaeaea;
}

.color {
  width: 144px;
  margin-right: 53px;
}

.filter {
  margin-top: 63px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter_h1 {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.filter_details {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  outline: none;
}

.filter_input {
  padding-left: 14px;
}

.filter_summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 9px 3px 14px;
  outline: none;
}

.filter_summary::after {
  content: "\25be";
  padding-left: 57px;
  font-size: 12px;
  color: #bcbcbc;
}

.summary_color {
  height: 12px;
  width: 12px;
  background-color: #ef5b70;
}

.summary_color_text {
  font-size: 13px;
  color: #bcbcbc;
}

.summary_color_text_size {
  font-size: 13px;
  color: #bcbcbc;
  text-transform: uppercase;
}

.choose_size {
  width: 144px;
  margin-right: 53px;
}

.quantity {
  width: 144px;
}

input[type="number"] {
  color: #bcbcbc;
}

.button_cart {
  font-weight: bold;
  font-size: 16px;
  color: #ef5b70;
  border: 1px solid #ef5b70;
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 537px;
}

.tovar_button_img {
  padding-right: 15px;
}

.cart_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.women_collection_product {
  margin-top: 766px;
  height: 453px;
  margin-bottom: 73px;
}

.text_women_collection {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.women_blaze {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  background-image: url(img/blaze-legg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.women_alexa {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  background-image: url(img/alexa.png);
  background-repeat: no-repeat;
  background-position: center -13px;
}

.women_agnes {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  background-image: url(img/agnes.png);
  background-repeat: no-repeat;
  background-position: center 7px;
}

.women_sylva {
  width: 261px;
  height: 280px;
  background-image: url(img/sylva.png);
  background-repeat: no-repeat;
}

.box_text_gray {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.register {
  margin-bottom: 93px;
  margin-top: 89px;
}

.register_details {
  outline: none;
  border-bottom: 1px solid #e8e8e8;
}

.register_summary {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
  outline: none;
  height: 73px;
  padding-top: 25px;
}

.register_summary::after {
  content: " ";
}

.register_summary:hover {
  color: #e1e1e1;
}

.register_1 {
  width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 35px;
  padding-bottom: 79px;
}

.register_size {
  padding: 34px 0px 14px 0px;
}

.register_radio {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}

.register_radio_checked {
  color: #222222;
  border-color: #222222;
  font-size: 12px;
  margin-right: 14px;
}

.register_brand_p {
  margin-top: 38px;
  margin-bottom: 39px;
}

.register_email_size {
  margin-top: 23px;
}

.register_input_email {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  color: #898989;
  outline: none;
}

.submit_button_2 {
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  outline: none;
  height: 50px;
  width: 180px;
  background-color: #ffffff;
}

.submit_button_2:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.red_color {
  vertical-align: super;
  color: #ff0d0d;
}

.red_color_text {
  font-size: 13px;
  font-weight: bold;
  color: #ff0d0d;
  margin: 22px 0px 32px 0px;
}

.password_text {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  margin-left: 32px;
}
/*# sourceMappingURL=style.css.map */